body {
  background: #f6f6fa;
  padding: 40px;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  background: #ffff;
  display: flex;
  flex-direction: row-reverse;
}

.main-content {
  padding: 80px 40px 80px 88px;
  box-sizing: border-box;
}

/* Sidebar */

.sidebar {
  background: #e0ebfe;
  padding: 40px 0;
  box-sizing: border-box;
  width: 370px;
}

.sidebar-content {
  padding: 40px 40px 0 40px;
  box-sizing: border-box;
}

.contacts-title {
  color: #161d2a;
  margin-top: 0px;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  margin-bottom: 8px;
}

.contacts-type {
  color: #161d2a;
  font-size: 14px;
  line-height: 24px;
  margin-right: 8px;
  font-weight: 700;
}

.contacts-link {
  color: #2979ff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: underline;
}

.contacts-item {
  margin-bottom: 4px;
  margin-top: 0;
}

.contacts-container {
  margin-bottom: 40px;
}

/* Skills-container */
.skills-container {
  margin-bottom: 40px;
}

.skills-title {
  color: #161d2a;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 16px;
}

.skills-list {
  padding-left: 16px;
}

.skills-list__item {
  color: #161d2a;
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
}
